.menu {
    background: #ffa500;
    height: 100px;
    display: flex;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

ul {
    height: 100%;
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

li {
    list-style: none;
}

a {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 21px;
    padding: 5px;
    text-decoration: none;
    opacity: .7;
    color: #0000;
    background: linear-gradient(90deg, #eeeeee 50%, #fff 0) var(--_p, 100%)/200% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    transition: .2s;
}

.active {
    opacity: 1;
}

a {

}

a:hover {
    --_p: 0%;
}

