.formBox h1 {
    margin-bottom: 15px;
}

.eventForm p {
    font-size: 17px;
    margin: 15px 0;
}

.eventForm input {
    width: 100%;
    border: 2px solid #ffa500;
    border-radius: 10px;
    font-size: 15px;
    padding: 8px;
    margin-top: 5px;
}

.eventForm div {
    margin-top: 10px;
}

.btnBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

*:focus {
    outline: none;
}